/* Identificação de jovens futebolistas com potencial de se tornarem atletas de alto rendimento */

/* 
h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 144px;
    letter-spacing: -1.5px;

    color: #000000;

    mix-blend-mode: normal;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: -0.5px;

    color: #000000;

    mix-blend-mode: normal;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;

    color: #000000;

    mix-blend-mode: normal;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    letter-spacing: 0.25px;

    color: #000000;

    mix-blend-mode: normal;
}

h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;

    mix-blend-mode: normal;
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;

    color: #000000;

    mix-blend-mode: normal;
}

.body-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;

    color: #000000;

    mix-blend-mode: normal;
} */