/* GLOBAL STYLES */

.login-as-section {
    height: 100vh;
    align-items: center;
}

.grid-icons {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
}

.link-login-as {
    text-decoration: none;
    color: #313B44;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.4px;

    color: #313B44;
}

.link-login-as:hover {
    text-decoration: underline;
}

.img-login-as {
    width: 45%;
}


.white-link {
    font-family: 'Open Sans';
}

.white-link:hover {
    text-decoration: underline;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #313B44;
    margin-bottom: 5%;
}

.coach p, .athlete p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4px;

    color: #313B44;
}

/* LOGIN STYLES */
.login-as-container{
    width: 45%;
    margin: auto;
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.img-logo{
    height: 80%;
    width: 80%;
    margin: 5px;
}

.grid-icons{
    display: grid;
}

.grid-icons figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #313B44;
}

.grid-register{
    background-color: #CA973C;
    padding: 4px;
    align-items: center;
}

.grid-register .coachInvited, .coach, .athlete{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}


/* RESPONSIVIDADE */

@media screen and (min-width: 1000px) {
    .container{
        width: 500px;
        margin-top: 15vh;
    }

    .img-logo{
        height: 45%;
        width: 45%;
        margin: 30px 0px 70px 0px;
    }

    .grid-icons{
        grid-template-columns: repeat(4,110px); 
        align-items: center;
        color: #313B44;
        margin: 10px 0px 60px 0px;
    }

    .grid-register{
        padding: 50px;
        text-align: center;
        font-size: 16px;
    }

    .grid-register .coachInvited, .coach, .athlete{
        margin: 2px;
    }

    .grid-register a{
        color: white;
        font-weight: bold;
    }
}